@media (min-width: 800px) {
    #rangeValue {
        font-size: 6em;
    }
    #moneyValue {
        font-size: 3em;
    }
    .range {
        width: 500px;
    }
    .info {
        font-size: 1em;
    }
    .button {
        padding: 5px;
        margin-left: 10px;
        margin-top: 5px;
        transition: padding 0.5s;
    }
    .button:hover {
        padding: 10px;
    }
}