@media (min-width: 500px) {
    #rangeValue {
        font-size: 5em;
    }
    #moneyValue {
        font-size: 2em;
    }
    .range {
        width: 380px;
    }
    .info {
        font-size: 0.75em;
    }
    .button {
        padding: 3px;
        margin-left: 10px;
        margin-top: 5px;
    }
}