.arrow {
    width: 0;
    height: 0;
    outline: none;
    background-color: transparent;
    color: transparent;
    margin: 0 20px 0 20px;
    border-radius: 5%;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid var(--roxo_bc);
    border-left: 0;
}

.arrow:hover {
    cursor: pointer;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid var(--roxo_roxo);
}

#arrowRight {
    transform: rotate(180deg)
}